/* Rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Disappear/appear animation */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Dimension change animation */
@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Movement animation */
@keyframes wobble {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

/* Nose Color change animation */
@keyframes color-pulse {
  0%, 100% {
    background-color: var(--peach-brown);
  }
  50% {
    background-color: var(--light-blue);
  }
}

/* Cone Color change animation */
@keyframes cone-color-pulse {
  0%, 100% {
    border-color: var(--peach-brown) transparent transparent transparent;
  }
  50% {
    border-color: var(--pale-green) transparent transparent transparent;
  }
}


/*Face*/
.hexagon:hover {
  transform: scale(1.05);
}

/* Eyes */
.robot-eye-left, .robot-eye-right {
  transition: all 0.3s ease;
}

.outside-circle-left {
  animation: rotate 8s linear infinite;
}

.outside-circle-right {
  animation: rotate 8s linear infinite reverse;
}

.inside-circle-left, .inside-circle-right {
  animation: breathe 2s ease-in-out infinite;
}

.robot-eye-left:hover, .robot-eye-right:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Nose */
.robot-nose {
  animation: wobble 2s ease-in-out infinite,
  color-pulse 4s linear infinite;
}

/* Teeth */
.robot-tooth {
  animation: blink 1.5s ease infinite alternate;
}

.robot-tooth:nth-child(odd) {
  animation-delay: 0.5s;
}

.robot-tooth:hover {
  transform: scaleY(1.5);
  background-color: #00ff00 !important;
}