:root {
  --dark-blue: #28536B;
  --light-blue: #7ea8be;
  --peach-brown: #C2948a;
  --cream: #f6f0ed;
  --pale-green: #bbb193;
}

body {
  background-color: #21222c;
}

.robot-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  height: 90vh;
  margin: 50px auto;
  outline: 1px solid red;
}

