:root {
  --dark-blue: #28536B;
  --light-blue: #7ea8be;
  --peach-brown: #C2948a;
  --cream: #f6f0ed;
  --pale-green: #bbb193;
}

body {
  background-color: #21222c;
}

.robot-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  height: 90vh;
  margin: 50px auto;
  outline: 1px solid red;
}

/* Face Shape */
.robot-face-shape {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  
}

.hexagon {
  align-self: center;
  width: calc(100vh / 1);
  height: calc(100vh / 1.5);
  background: radial-gradient(farthest-corner at 40px 40px,
  var(--light-blue) 0%,
  var(--cream) 50%,
  var(--dark-blue) 100%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: transform 0.3s ease;
  border-radius: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 10px dashed var(--dark-blue);
  stroke: var(--light-blue);
}

.hexagon:hover {
  transform: scale(1.05);
}

/* Eyes */

.robot-eyes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  gap: 50px;
  width: 60%;
  height: 200px;
  outline: 1px solid red;
}

.outside-circle-left,
.outside-circle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: inherit;
  background: var(--cream);
  border-radius: 50%;
}

.outside-circle-left {
  justify-content: center;
  align-items: flex-start;
}

.outside-circle-right {
  justify-content: center;
  align-items: flex-end;
}

.inside-circle-left,
.inside-circle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: var(--pale-green);
  border-radius: 50%;
  margin: 20px 0;
}

/* Nose */

.robot-nose {
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

}

.oval {
  width: 178px;
  height: 90px;
  background: var(--peach-brown);
  border-radius: 100px / 50px;
  background-image: url("https://picsum.photos/200/100");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 50%;
}

/* Teeth */
.robot-teeth {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  width: 380px;
  height: 140px;
  background: var(--dark-blue);
  padding: 10px;
}

.robot-tooth {
  width: 46px;
  height: 45px;
  margin: 5px;
  background: var(--cream);
  border: 1px solid var(--peach-brown);
}